@import "../../styles/mixin";

.headerWrapper {
  margin: 0 auto;
  display: flex;
  max-width: 1440px;
  padding: 20px 20px;
  box-sizing: border-box;
  width: 100%;
  align-items: center;
  justify-content: space-between;


  & .buttonBlock {
    & button {
      width: 93px;
      font-size: 16px;
      height: 42px;
      background-color: #1e313b;
      color: #fff;
      border: none;
      border-radius: 6px;

      &:hover {
        @include darkButtonHover;
      }
    }

  }

  & .sideBarButton {
    display: none;
  }
}

.headerLinks {
  display: flex;

  & h2 {
    margin: 0 32px 0 0;
    color: #1e313b;
    font-size: 16px;

    &:hover {
      cursor: pointer;
      color: #794eff;
    }

    &:last-child {
      margin: 0;

    }
  }
}

@media screen and (max-width: 1024px) {
  .blackOut {
    position: absolute;
    z-index: 88;
    background-color: rgba(0, 0, 0, 0.17);
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    transition: 1s linear;

    & .sideBarMenu {
      right: 0;
      display: flex;
      text-align: center;
      position: absolute;
      z-index: 99;
      flex-direction: column;
      border: 2px solid #1e313b;
      width: 25%;
      height: 300px;
      background-color: #ffffff;
      align-items: flex-start;
      color: #1e313b;

      & div {
        margin: 20px auto;

        & h2 {
          margin: 5px 0;
        }
      }

      & button {
        color: #1e313b;
        background-color: inherit;
        border: none;
        font-size: 20px;
        margin: 5px 10px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .headerWrapper {

    & button {
      &:last-child {
        margin-left: 10px;
      }

    }

    & .sideBarButton {
      display: initial;
    }
  }
.headerMenu {
  display: flex;
}

.headerLinks {
  display: none;
}

.headerFirstSite {
  padding: 0 10px;
}
}



@media screen and (max-width: 540px) {
  .headerWrapper {
    flex-direction: column;
    padding: 10px;

    & button {
      margin: 20px 0 0 20px;
      width: 70px;
      font-size: 12px;
    }
  }
}

