@import "../../styles/mixin";

.teamSection {
  margin: 0 auto;
  display: flex;
  padding: 128px 80px;
  width: 100%;
  gap: 50px;
  align-items: center;
  box-sizing: border-box;
  max-width: 1440px;
}

.teamInfo {
  display: flex;
  max-width: 750px;
  flex-direction: column;
  justify-content: center;
}

.teamInfo h4 {
  @include labelContainer;
  color: white;
  width: 93px;
  background-color: rgba(121, 78, 255, 0.8);
  border: 2px solid #794eff;
}

.teamInfo h3 {
  font-size: 32px;
}

.teamInfo h3 span {
  color: #794eff;
}

.teamInfo div {
  font-size: 18px;
  padding: 0 0 29px 0;
}

.teamInfo button {
  width: 141px;
  color: white;
  border: none;
  height: 42px;
  background-color: #794eff;
  border-radius: 6px;
}

.teamInfo button:hover {
  @include purpleButtonHover;
}

.teamImages {
  display: flex;
  gap: 16px;

  & img {
    display: flex;
    object-fit: cover;
    padding: 0 0 16px;
    max-width: 200px;
  }
  & div:first-child{
    display: flex;
    flex-direction: column;
  }
  & div:last-child{
    display: flex;
    align-items: center;
  }
}


@media screen and (max-width: 1024px) {
  .teamImages {
    display: none;
  }
  .teamSection {
    padding: 50px 20px;
    grid-gap: 0;
  }
}

@media screen and (max-width: 540px) {
  .teamSection {
    grid-template-rows: 1fr;
  }
  .teamInfo {
    padding: 0 0 30px;
  }
}