@import "../../styles/mixin";


.produceSection {
  position: relative;
  background-color: #1e313b;
  width: 100%;
}
.produceTextWrapper {
  background-color: #1e313b;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 130px 56px 100px 80px;
  display: flex;
  justify-items: center;
  max-width: 1440px;
  align-items: center;
  width: 100%;
}

.mainContentLeftBlock {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: left;
  word-wrap: normal;
}

.contentHeadText {
  font-size: 38px;
  line-height: 44px;

  & span {
    color: #794eff;
  }
}

.contentDescription {
  padding: 13px 0 29px 0;
  font-size: 18px;
  width: 575px;
  line-height: 27px;
}

.produceSignUp {
  display: flex;
  & input {
    padding: 10px 0 10px 21px;
    width: 364px;
    height: 22px;
    border-radius: 6px;
    margin: 0 16px 16px 0;
    border: none;

    &:focus {
      outline: none;
    }

    &::-webkit-input-placeholder {
      color: black;
    }

  }

  & button {
    color: black;
    width: 88px;
    height: 44px;
    border: none;
    border-radius: 6px;

    &:hover {
      @include lightButtonHover;
    }
  }
}

.produceSignUp {
  & div {
    font-family: Roboto, serif;

    font-size: 12px;
  }
  & span {
    color: #794eff;
  }
}


.produceImage {
  object-fit: cover;
  width: 100%;
  max-width: 716px;

  margin: 0 0 0 10px;
}

.sponsorsUsage {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 18px;
}

.sponsors {
  display: flex;
  margin: 0 auto;
  padding: 62px 161px 80px;
  max-width: 1280px;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .produceTextWrapper
 {
    padding: 0 20px;
  }
  .mainContentLeftBlock{
    margin: 20px auto;
  }
  .produceImage {
    display: none;
  }
  .sponsors {
    padding: 0 20px;
    align-items: center;
    & img {
      margin: 10px;
    }
  }
}

@media screen and (max-width: 540px) {

  .produceSignUp {
    margin: 10px 0;
    & input {
      width: 265px;
      margin: 0 16px 0 0;
    }
  }
  .mainContentLeftBlock {
    width: 100%;
  }
  .sponsors {
    padding: 0 20px;
    align-items: center;
    & img {
      margin: 5px;
    }}
}