@import "../../styles/mixin";
.startDesignSection {
  background-color: #794eff;
  padding: 100px 20px ;
  width: 100%;
  box-sizing: border-box;
  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1280px;
  }
  & span {
    color: #fff;
    font-size: 18px;
  }
  & h3 {
    color: #fff;
    font-size: 56px;
    margin: 0 0 14px 0;
  }
  & button {
    width: 154px;
    height: 55px;
    border-radius: 6px;
    border: none;
    font-size: 18px;
    color: #1e313b;
    &:hover {
      @include lightButtonHover;
    }
  }
}
@media screen and (max-width: 540px) {
  .startDesignSection {
    padding: 50px 20px;
    & > div {
      flex-direction: column;

      & button {
        margin-top: 20px;
      }
    }
  }

}