@import "../../styles/mixin";
.nonMissMessage {
  display: flex;
  width: 100%;
  height: 443px;
  justify-content: center;
  align-items: center;
  background-color: #794eff;
}
.nonMissBlock {
  padding: 0 96px;
  display: grid;
  align-items: center;
  justify-items: flex-start;
  grid-template-columns: 1fr 1fr;
  border-radius: 48px;
  max-width: 1280px;
  width: 100%;
  height: 315px;
  grid-gap: 80px;
  background-color: #fff;
}
.leftMissBlock {
  width: 540px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.leftMissBlock h5 {
  font-size: 32px;
  margin: 0 0 10px 0;
}
.leftMissBlock div {
  font-size: 16px;
  font-weight: 500;
}
.rightMissBlock input::-webkit-input-placeholder {
    color: black;
  }
  .rightMissBlock button {
    width: 88px;
    height: 44px;
    background-color: #1e313b;
    color: #fff;
    border: none;
    border-radius: 6px;
  }
  .rightMissBlock button:hover {
    @include darkButtonHover;
  }
  .rightMissBlock {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
.rightMissBlock input {
  padding: 10px 0 10px 21px;
  width: 364px;
  height: 22px;
  border-radius: 6px;
  border: 1px solid #000;
  margin: 0 16px 16px 0;
}
.rightMissDiscr > div {
  font-weight: 500;
  font-size: 12px;
}
.rightMissDiscr span {
  margin: 0 0 0 5px;
  color: #794eff;
}
@media screen and (max-width: 1024px) {
  .nonMissMessage {
    padding: 0 20px;
  }
  .nonMissBlock {
    grid-template-columns: 1fr;
    padding: 20px 20px;
  }
}
@media screen and (max-width: 540px) {
  .nonMissBlock {
    height: 415px;
  }
  .leftMissBlock {
    width: 100%;
  }
  .rightMissBlock input {
    width: 265px;
  }
}