@import "../../styles/mixin";

.nonMissSection {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: #794eff;
}

.nonMissBlock {
  margin: 30px 0;
  padding: 100px 96px;
  display: flex;
  align-items: center;
  justify-items: flex-start;
  border-radius: 48px;
  max-width: 1280px;
  width: 100%;
  grid-gap: 80px;
  background-color: #fff;
}

.nonMissMessage {
  width: 540px;
  display: grid;
  grid-template-rows: 1fr 1fr;

  & h5 {
    font-size: 32px;
    margin: 0 0 10px 0;
  }

  & div {
    font-size: 16px;
    font-weight: 500;
  }
}

.nonMissSignUp {
  display: flex;
  flex-direction: column;
  & button {
    width: 88px;
    height: 44px;
    background-color: #1e313b;
    color: #fff;
    margin-bottom: 10px;;
    border: none;
    border-radius: 6px;

    :hover {
      @include darkButtonHover;
    }
  }

  & input {
    padding: 10px 0 10px 21px;
    height: 22px;
    width: 65%;
    border-radius: 6px;
    border: 1px solid #000;
    margin: 0 16px 16px 0;

    &::-webkit-input-placeholder {
      color: black;
    }

    &:focus {
      outline: none;
    }
  }
}

.signUpDescription {
  & > div {
    font-weight: 500;
    font-size: 12px;
  }
  & span {
    margin: 0 0 0 5px;
    color: #794eff;
  }
}


@media screen and (max-width: 1024px) {
  .nonMissSection {
    padding: 0 20px;
  }
  .nonMissBlock {
    flex-direction: column;
    padding: 50px 20px;
  }
}

@media screen and (max-width: 540px) {
  .nonMissMessage {
    width: 100%;
  }
}