@import "../../styles/mixin";

.featureSection {
  padding: 128px 0;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1440px;
  gap: 80px;
  width: 100%;
}

.featureImage {
  margin: 62px 0 62px 0;
  width: 100%;
  display: flex;
  object-fit: cover;
}


.featureDescription {
  display: flex;
  flex-direction: column;
  & {
    h4 {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.descriptionTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0 30px 0;

  & div {
    @include labelContainer;
    background-color: rgba(255, 193, 71, 0.6);
    border: 2px solid #ffc147;
  }
}

.descriptionSubtitle {
  font-size: 32px;

  & span {
    color: #ffc147;
  }
}


.featureBlockWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
  grid-template-rows: 1fr 1fr;

  & h4 {
    padding: 0 0 0 40px;
    box-sizing: border-box;
    width: 285px;
  }
}


.featureBlock {
  display: flex;

  & img {
    padding: 0 16px 12px 0;
  }

  & span {
    font-size: 18px;
    font-weight: 500;
    color: #ffc147;
    padding: 0 0 12px 0;
  }
}

@media screen and (max-width: 1024px) {
  .featureSection{
    padding: 50px 20px;
  }
  .featureImage {
    display: none;
  }

  .secondBlockMainContent {
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
  }
}

@media screen and (max-width: 540px) {
  .featureBlockWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    & h4 {
    word-wrap: normal;
      padding-left: 30px;
    }
  }
.featureBlock {
  display: flex;
  margin: 0 auto;
  justify-content: center;

}
}