@import "../../styles/mixin";

.statsSection {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
}


.statsContent {
  padding: 128px 80px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  gap: 116px;
  max-width: 1440px;
}

.statsPreview {
  & h4 {
    @include labelContainer;
    border: 2px solid #97e747;
    background-color: rgba(151, 231, 71, 0.6);
  }
  & div {
    font-size: 32px;
    & span {
      color: #97e747;
    }
  }
}

.statsDescription div {
  font-size: 18px;
}

.statsPercent {
  display: flex;
  & h3 {
    margin: 0;
    font-size: 48px;
    color: #97e747;
  }
}

@media screen and (max-width: 1024px) {
  .stats {
    width: fit-content;
    display: flex;
  }
  .statsSection {
    display: flex;
    flex-direction: column;
  }
  .statsContent {
    gap: 50px;
    flex-direction: column;
    padding: 50px 20px;
  }
}